<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EasyCount.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>353A882F23E0D9B3005E15D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>745DBDBA23BFC868007B43FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>745DBDD523BFC86A007B43FE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
